.App {
    min-height: 100vh;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    background: #FFFFFF;
    padding-top: 44px;
  }

.App-top {
    width: 80%;
    background-color: transparent;
    margin: auto;
}

header {
    width: 100%;
    position: relative;
}

.header-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 78%;
    cursor: pointer;
    border-radius: 50%;
}

.sharemob {
    display: none;
}

.image-container {
    width: 100%;
    text-align: center;
}
.image-container img {
    width: 88px;
    height: 88px;
}

header p {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 24px;
}

section {
    width: 100%;
    margin-top: 56px;
}

.sec-btm {
    width: 100%;
    padding: 24px 0 24.55px 0;
}

.sec-btm-img {
    width: 60px;
    height: 24px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.sec-btm-img img {
    width: 24px;
    height: 23.5px;
}

footer {
    width: 100%;
    margin-top: 64px;
    padding: 48.2px 0 48.2px 0;
}

.footer-content {
    width: 90% ;
    margin: auto;
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

}

.footer-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #667085;
    

}

.zuri {
    width: 185px;
    height: 24.74px;
}

.ingressive {
    width: 132px;
    height: 32px;
}



@media  screen and (max-width: 690px) {
    .App-top{
        width: 91%;
    }

    .header-icon {
        position: absolute;
        left: 100%;
        transform: translate(-100%, -50%);
        background-color: white;
        border-radius: 50%;
        border: 1px dotted grey;
    }

    .share {
        display: none;
    }
    .sharemob {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    header p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
    }

    section {
        margin-top: 32px;
    }

    footer {
        margin-top: 32px;
    }

    .footer-content {
        width: 90% ;
        margin: auto;
        padding-top: 38px;
        display: block;
        justify-content: space-between;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    
    }

    .zuri {
        width: 138px;
        height: 18.55px;
        margin-bottom: 16px;
    }
    
    .ingressive {
        width: 99px;
        height: 24px;
    }

    .footer-content p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;
        
    }

}